.home-banner {
    .swiper-slide {
        width: 100%;
        padding-bottom: 50.5%;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

.about {
    &_pic {
        max-width: 1000px;
        padding: 0 20px;
        margin: 100px auto 40px;
        &_content {
            width: 100%;
            padding-bottom: 60%;
            position: relative;
            background-color: #CCCCCC;
            img {
                transform: translate(-15px,-15px);
            }
        }
    }
    &-brand {
        img {
            width: 100px;
            display: block;
            margin: 0 20px;
        }
    }
    &-qr {
        &_pic {
            width: 150px;
            display: block;
            margin: 0 auto 20px;
        }
        &_intro {
            margin: 0 auto 50px;
            border-radius: 100px;
            background-color: $main-color;
            color: #fff;
            padding: 10px 20px;
            width: fit-content;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.product {
    &-nav {
        width: 250px;
        padding-right: 40px;
        h2 {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 20px;
            width: fit-content;
        }
        &_main {
            li {
                margin-bottom: 25px;
                &.active {
                    h2 {
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 3px;
                            background-color: $main-color;
                            bottom: -5px;
                            left: 0;
                        }
                    }
                }
            }
        }
        &_second {
            li {
                margin-bottom: 5px;
                padding-left: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    padding-left: 30px;
                    a {
                        background-color: $main-color;
                        color: #fff;
                        display: block;
                        padding: 3px 10px;
                    }
                    
                }
            }
        }
    }
    &-list {
        width: calc(100% - 250px);
    }
    &_item {
        border: 1px solid $main-color;
        padding: 10px;
        display: block;
        margin-bottom: 30px;
        &_pic {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            margin-bottom: 10px;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            // padding-left: 15px;
        }
        &_num {
            font-size: 14px;
            margin: 0;
        }
        &_name {
            font-size: 18px;
            margin: 0;
        }
        &_price {
            margin: 0;
            font-size: 18px;
        }
    }
    &-class {
        width: 100%;
        background-color: $main-color;
        color: #fff;
        padding: 5px 15px;
        margin-bottom: 30px;
        text-align: center;
    }
    &_detail {
        &_pic {
            width: 55%;
            padding-right: 40px;
            &.larger {
                position: fixed;
                width: 100vw;
                height: 100vh;
                background-color: #000;
                top: 0;
                left: 0;
                .product {
                    &-big {
                        position: absolute;
                        top: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 50vw;
                        height: 50vw;
                    }
                    &-small {
                        display: none;
                    }
                }
                .image-view {
                    display: none;
                }
                .product-big_cross {
                    display: block;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
        }
        .product-big_cross {
            display: none;
        }
        &_text {
            width: 45%;
            h1 {
                font-size: 32px;
                margin: 0 0 30px;
            }
        }
        &_num {
            font-size: 14px;
            margin-bottom: 15px;
        }
        &_price {
            font-size: 13px;
            .big {
                font-size: 24px;
                font-weight: 700;
            }
        }
        &_spec {
            margin-top: 60px;
            ul {
                padding-left: 10px;
                margin-bottom: 30px;
            }
        }
        &_title {
            background-color: $main-color;
            color: #fff;
            padding: 3px 10px;
            font-weight: 700;
            margin-bottom: 20px;
            font-size: 20px;
            width: fit-content;
        }
        &_video {
            width: 100%;
            margin-top: 40px;
            &_content {
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;
                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
    &-big {
        margin-bottom: 30px;
        position: relative;
        .swiper-slide {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        .image-view {
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 100;
            cursor: pointer;
            img {
                width: 18px;
                margin-right: 10px;
            }
        }
    }
    &-small {
        &_box {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }

        }
    }
}

.breadcrumb {
    li {
        margin: 0 5px;
        &.active {
            a {
                position: relative;
                display: block;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $main-color;
                    bottom: -3px;
                    left: 0;
                }
            }
        }
    }
}

.pagination {
    li {
        margin: 0 3px;
        padding: 0 3px;
        a {
            font-size: 14px;
        }
        &.active {
            position: relative;
            &::after {
                position: absolute;
                width: 100%;
                content: "";
                height: 2px;
                background-color: $main-color;
                bottom: -3px;
                left: 0;
            }
        }
    }
}

.service {
    &-suit {
        width: fit-content;
        margin: 0 auto;
        h3 {
            background-color: $main-color;
            color: #fff;
            padding: 5px 10px;
            margin-bottom: 10px;
            font-size: 20px;
            width: fit-content;
        }
        p {
            padding-left: 10px;
        }
        li {
            margin-bottom: 20px;
        }
    }
    &-flow {
        img {
            width: 90%;
            display: block;
            margin: 20px auto;
        }
    }
}

@media screen and (max-width:1100px) {
    .service {
        .page-title-second {
            font-size: 32px;
        }
    }
}

@media screen and (max-width:991px) {
    .product {
        &_item {
            &_name {
                font-size: 16px;
            }
            &_price {
                font-size: 16px;
            }
        }
        &_detail {
            &_pic {
                width: 100%;
                padding: 0;
            }
            &_text {
                width: 100%;
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .about {
        &-brand {
            img {
                margin: 20px;
            }
        }
    }
    .product {
        &-nav {
            position: fixed;
            height: 100vh;
            overflow-y: auto;
            background-color: $main-color;
            padding: 30px 25px;
            z-index: 100;
            top: 0;
            // left: 0;
            left: -100%;
            transition: 0.3s;
            h2 {
                color: #fff;
            }
            a {
                color: #fff
            }
            &.active {
                left: 0;
            }
        }
        &-list {
            width: 100%;
        }
    }
    .service {
        .page-title-second {
            font-size: 28px;
        }
        .page-title {
            font-size: 32px;
        }
    }
}

@media screen and (max-width:575px) {
    .about {
        &-brand {
            img {
                width: 70px;
            }
        }
        &-qr {
            &_intro {
                font-size: 16px;
            }
        }
        &_pic {
            &_content {
                img {
                    transform: translate(-10px,-10px);
                }
            }
        }
    }
    .product {
        &-list {
            .row {
                margin-left: -5px;
                margin-right: -5px;
                >div {
                    padding: 0 5px;
                }
            }
        }
        &_detail {
            &_text {
                h1 {
                    font-size: 28px;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .about {
        &-qr {
            &_intro {
                font-size: 12px;
            }
        }
    }
}

